streamlit
langchain==0.3.30
langchain-community==0.3.31
torchvision
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
faiss-cpu
sentence-transformers
pypdf
python-dotenv
pycryptodome